<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  
<head>
    
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
<meta name="author" content="ÂæÁÖ¼Ñ" />
    
<title>{{ page.title }} | ÂæÁÖ¼Ñ</title>
    
<link rel="shortcut icon" href="/favicon.ico">
    
<link href="http://ideex.name/feed/" rel="alternate" title="ÂæÁÖ¼Ñ" type="application/atom+xml" />
    
<link rel="stylesheet" href="/media/css/style.css">
    
<link rel="stylesheet" href="/media/css/highlight.css">
    
<script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
  
</head>
  
<body>
    
<div id="container">
      
<div id="main" role="main">
        
<header>
        
<h1>{{ page.title }}</h1>
        
</header>
        
<nav>
        
<span><a title="home page" class="" href="http://ideex.name/">home</a></span>
        
<span><a title="about" class="" href="http://ideex.name/about/">about</a></span>
        
<span><a title="publication" class="" href="http://ideex.name/publication/">publication</a></span>
        
<span><a title="guestbook" class="" href="http://ideex.name/guestbook/">guestbook</a></span>
        
<span><a title="vitae" class="" href="http://ideex.name/vitae/">vitae</a></span>
        
<span><a title="categories" class="" href="http://ideex.name/categories/">categories</a></span>
        
<span><a title="tags" class="" href="http://ideex.name/tags/">tags</a></span>
        
<span><a title="links" class="" href="http://ideex.name/links/">links</a></span>
        
<span><a title="subscribe by RSS" class="" href="http://ideex.name/feed/">subscribe</a></span>
        
</nav>
        
<article class="content">
        
{{ content }}
        
</article>
      
</div>
    
</div>
    

</body>

</html>
