---
layout: default
---

{% if page.logo %}
<div class="post-logo"><img src="{{ page.logo }}"/></div>
{% endif %}
<div class="post-title">{{ page.title }}</div>

<div class="post-title-desc">
    <!--{% if page.categories %}-->
    <!--<span class="categories">-->
    <!--Categories:-->
    <!--{% for cat in page.categories %}-->
    <!--<a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;-->
    <!--{% endfor %}-->
    <!--</span>-->
    <!--{% endif %}-->
    <span>
        <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
    </span>
    {% if page.tags %}
    <span class="tags">
      {% for tag in page.tags %}
      <a href="{{ site.url }}/tags/#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>&nbsp;
      {% endfor %}
    </span>
    {% endif %}
</div>
<hr>
<br/>

<section class="post">
    {{ content }}
</section>
<section class="meta">
    <div align="right">
<span class="author">
  <a href="http://luolinjia.com">{{ site.author }}</a>
</span>
    </div>
    <div align="right">
<span class="license">
  Published under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(CC) BY-NC-SA</a>
</span>
    </div>
</section>
<!--<div><span>Previous</span><span style="float:right;">Next</span></div>-->
<!--<div class="navigation">-->
<!--{% if page.next %}-->
<!--<a class="next" href="{{ site.url }}{{ page.next.url }}">&laquo;&nbsp;{{ page.next.title | truncatewords:5 }}</a>-->
<!--{% endif %}-->
<!--{% if page.previous %}-->
<!--<a class="prev" href="{{ site.url }}{{ page.previous.url }}" style="float:right">{{ page.previous.title | truncatewords:5 }}&nbsp;&raquo;</a>-->
<!--{% endif %}-->
<!--</div>-->
{% include comments.md %}
